/* Set font for the whole body */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400; /* Normal font weight */
    line-height: 1.6; /* Adjust line height as needed */
}

p {
    margin: 0px;
    display: flex;
}

abbr {
    cursor: help;
}

p.value {
    margin-left: 6px;
}

/* Style the select element */
select {
    padding: 7px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    appearance: none; /* Remove default appearance */
    -webkit-appearance: none; /* For Safari and Chrome */
    width: 180px; /* Set a fixed width or adjust as needed */
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 460px) {
    select {
        width: 38px;
    }
}

div.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.charts {
    display: flex;
    width: 100%;
    height: 48vh;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2vh;
    position: relative;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 965px) {
    div.charts {
        flex-direction: column;
        height: 100%;
    }
}

div.correlation {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 49vh;
}

@media (max-width: 965px) {
    div.correlation {
        width: 100%;
        height: 100%;
    }
}

div.radar {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 49vh;
}

@media (max-width: 965px) {
    div.radar {
        width: 100%;
        height: 100%;
    }
}

div.radarDiv {
    padding-top: 20px;
    width: 100%;
    /* display: flex;
    justify-content: center; */
    height: 31vh;
    display: block;
}

#radarCanvas {
    height: 100%;
    width: 100%;
}

div.choose {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

div.result {
    display: flex;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 500px) {
    div.result {
        font-size: 5vw;
    }
}

div.scatterDiv {
    padding-top: 20px;
    width: 80%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 31vh;
    display: block;
}

#scatterCanvas {
    height: 100%;
    width: 100%;
}

div.image {
    display: none;
    align-items: center;
    width: 30%;
    padding: 20px;
}

div.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-top: solid; */
    width: 100%;
    height: 46vh;
    position: relative;

    .body {
        width: 90%;
        height: 35vh;
        display: flex;
        padding-top: 20px;
        flex-direction: row;
        flex-wrap: wrap;

        .column {
            display: flex;
            flex-direction: column;
            width: 25%;

            .row1 {
                display: flex;
                margin-left: 40px;
                font-size: 25px;
                padding-bottom: 10px;
            }
            .row2 {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-content: flex-start;
            }
        }
    }
}

/* Style the dropdown arrow icon */
select::-ms-expand {
    display: none; /* Hide arrow in IE10+ */
}

select::after {
    content: "\25BC"; /* Unicode arrow-down character */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Hover effect */
select:hover {
    border-color: #aaa;
}

#imgCorrelation {
    content: url(/correlations.world/img/no.svg);
    height: 100%;
    width: 100%;
    filter: opacity(1);
}

img {
    width: 1px;
    height: 1px;
    filter: opacity(0.1);
}

/* Focus effect */
select:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}
/* abbr working on mobile */
@media screen and (min-width: 0px) {
    abbr[data-title] {
        position: relative;

        /* ensure consistent styling across browsers */
        text-decoration: underline dotted;
    }

    abbr[data-title]:hover::after,
    abbr[data-title]:focus::after {
        content: attr(data-title);

        /* position tooltip like the native one */
        position: absolute;
        left: 0;
        bottom: -30px;
        width: auto;
        white-space: nowrap;

        /* style tooltip */
        background-color: #1e1e1e;
        color: #fff;
        border-radius: 3px;
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
        font-size: 14px;
        padding: 3px 5px;
        z-index: 999;
    }
}
